/* src/styles/App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary-color: #8257e5; /* Roxo Rocketseat */
  --primary-color2: #e557d9;
  --primary-dark-color: #6f48c9;
  --secondary-color: #04d361; /* Verde Rocketseat */
  --secondary-dark-color: #03a14a;
  --background-color: #121214; /* Fundo escuro Rocketseat */
  --container-background: #202024;
  --text-color: #e1e1e6; /* Texto claro */
  --border-color: #323238;
  --input-background: #121214;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

nav {
  background-color: var(--container-background);
  padding: 0.5rem 1rem; /* Reduzi o padding para diminuir a altura */
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid var(--border-color);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Removi margens padrão */
  display: flex;
  justify-content: center;
  align-items: center; /* Centralizei verticalmente os itens */
}

nav ul li {
  margin: 0 0.5rem; /* Reduzi o espaçamento horizontal */
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  padding: 0.25rem 0.5rem; /* Reduzi o padding dos links */
  border-radius: 4px;
  transition: background 0.3s;
  font-size: 0.9rem; /* Diminuí ligeiramente o tamanho da fonte */
}

nav ul li a:hover {
  background-color: var(--primary-color);
}

.container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
  background: var(--container-background);
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

form div {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

form input {
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 1rem;
  background-color: var(--input-background);
  color: var(--text-color);
}

form input::placeholder {
  color: #7c7c8a;
}

button {
  padding: 0.7rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: background 0.3s;
  width: 100%;
  
  
}

button:hover {
  background-color: var(--primary-dark-color);
}



@media (min-width: 600px) {
  form {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem 2rem;
  }

  form div.full-width {
    grid-column: span 2;
  }
}



/* Estilos para o grupo de formulário */
.form-group {
  display: flex;
  flex-direction: column;
}

/* Estilos para mensagens de sucesso e erro */
.mensagem-sucesso {
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.mensagem-erro {
  color: #ff4d4d;
  margin-bottom: 1rem;
}



/* src/styles/App.css */
/* ... (seu CSS existente) ... */

/* Estilos para o Menu */
.menu {
  background-color: var(--container-background);
  border-bottom: 2px solid var(--border-color);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.menu-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
}

/* Estilos para o link da logo */
.logo-link {
  text-decoration: none; /* Remove o sublinhado */
}

.logo-link:hover {
  text-decoration: none; /* Garante que o sublinhado não apareça no hover */
}

.menu-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-links li {
  margin-left: 1.5rem;
}

/* Estilo padrão dos links do menu */
.menu-links li a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s, color 0.3s;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

/* Estilo ao passar o mouse sobre os links */
.menu-links li a:hover {
  background-color: var(--primary-color); /* Fundo roxo */
  color: var(--background-color); /* Texto na cor de fundo original */
}

/* Responsividade */
@media (max-width: 768px) {
  .menu-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-links {
    flex-direction: column;
    width: 100%;
  }

  .menu-links li {
    margin: 0.5rem 0;
  }
}

/* Estilos para o Footer */
.footer {
  background-color: var(--container-background);
  color: var(--text-color);
  text-align: center;
  padding: 1rem 0;
  border-top: 1px solid var(--border-color);
  margin-top: 2rem;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
}

.footer strong {
  color: var(--primary-color);
}


/* Estilos para a estrutura principal */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app .content {
  flex: 1;
}

/* Estilos para a lista de dados */
.lista-dados {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 1.5rem;
}

/* Estilos para os cards */
.card {
  position: relative;
  background-color: var(--container-background);
  padding: 1.5rem;
  padding-top: 0.8rem; /* Aumente o padding-top para acomodar os botões */
  border: 1px solid var(--border-color);
  border-radius: 8px;
  transition: transform 0.2s, box-shadow 0.2s;
}

/* Contêiner para os botões */
.card-buttons {
  
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  gap: 0rem; /* Espaçamento entre os botões */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.card strong {
  color: var(--primary-color);
}

/* Responsividade */
@media (min-width: 600px) {
  .lista-dados {
    grid-template-columns: 1fr 1fr;
  }
}



/* Estilos comuns para os botões */
.btn-editar,
.btn-excluir {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  transition: color 0.3s;
}


.modal-overlay {
  /* ... estilos existentes ... */
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


/* ... Seu CSS existente ... */

/* Estilos para o select */
form select,
.form-group select {
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 1rem;
  background-color: var(--input-background);
  color: var(--text-color);
}

/* Estilos para a tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

table th,
table td {
  border: 1px solid var(--border-color);
  padding: 0.75rem;
  text-align: left;
  color: var(--text-color);
}

table th {
  background-color: var(--container-background);
  font-weight: 700;
}

table tr:nth-child(even) {
  background-color: #1f1f23;
}

/* Estilos para o input de data */
input[type="date"] {
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 1rem;
  background-color: var(--input-background);
  color: var(--text-color);
  /* Remover estilos padrão do input de data */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1);
}